In [243]:
import pandas as pd

In [244]:
movies = pd.read_csv('movies_metadata.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [245]:
movies.shape[0]

45466

In [246]:
class PipeLine():
    def __init__(self, movies):
        self.df = movies
    def drop_rows(self):
        self.df = self.df.drop(columns=['belongs_to_collection', 'homepage', 'budget', 'imdb_id', 'id', 'poster_path', 'production_countries', 'revenue', 'release_date', 'status', 'title', 'video', 'budget'], axis='columns')
    def get_df(self):
        return self.df
    def drop_na(self):
        self.df.drop(self.df.loc[self.df['genres'] == '[]'].index.values[0])
        self.df.dropna(axis=0, inplace=True)
    def drop_not_en(self):
        self.df.drop(self.df.loc[self.df['original_language'] != 'en'].index, inplace=True)
    def reset_index(self):
        self.df = self.df.reset_index(drop=True)

In [247]:
pipe = PipeLine(movies)
pipe.drop_rows()
pipe.drop_na()
pipe.drop_not_en()
pipe.reset_index()
df = pipe.get_df()

In [248]:
df

,adult,genres,original_language,original_title,overview,popularity,production_companies,runtime,spoken_languages,tagline,vote_average,vote_count
0,False,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,6.9,2413.0
1,False,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,6.5,92.0
2,False,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Friends are the people who let you be yourself...,6.1,34.0
3,False,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Just When His World Is Back To Normal... He's ...,5.7,173.0
4,False,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,"[{'name': 'Regency Enterprises', 'id': 508}, {...",170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",A Los Angeles Crime Saga,7.7,1886.0
...,...,...,...,...,...,...,...,...,...,...,...,...
17927,False,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,"[{'name': 'Walt Disney Pictures', 'id': 2}]",67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Celebrate Lumpy's First Halloween.,5.4,7.0
17928,False,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,The Morning After,The Morning After is a feature film that consi...,0.139936,"[{'name': 'Oops Doughnuts Productions', 'id': ...",79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",What happened last night?,4.0,2.0
17929,False,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",en,House of Horrors,An unsuccessful sculptor saves a madman named ...,0.222814,"[{'name': 'Universal Pictures', 'id': 33}]",65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Meet...The CREEPER!,6.3,8.0
17930,False,"[{'id': 27, 'name': 'Horror'}]",en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,0.38645,"[{'name': 'Neptune Salad Entertainment', 'id':...",30.0,"[{'iso_639_1': 'en', 'name': 'English'}]","Do you know what happened 50 years before ""The...",7.0,1.0
17931,False,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",A deadly game of wits.,3.8,6.0

In [249]:
print(df)

       adult                                             genres  \
0      False  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
1      False  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
2      False  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
3      False                     [{'id': 35, 'name': 'Comedy'}]
4      False  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
...      ...                                                ...
17927  False  [{'id': 16, 'name': 'Animation'}, {'id': 10751...
17928  False  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
17929  False  [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
17930  False                     [{'id': 27, 'name': 'Horror'}]
17931  False  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...

      original_language                    original_title  \
0                    en                           Jumanji
1                    en                  Grumpier Old Men
2                    en                 Waiting to Exhale
3                    en       Father of the Bride Part II
4                    en                              Heat
...                 ...                               ...
17927                en  Pooh's Heffalump Halloween Movie
17928                en                 The Morning After
17929                en                  House of Horrors
17930                en               The Burkittsville 7
17931                en                          Betrayal

                                                overview popularity  \
0      When siblings Judy and Peter discover an encha...    17.0155
1      A family wedding reignites the ancient feud be...    11.7129
2      Cheated on, mistreated and stepped on, the wom...    3.85949
3      Just when George Banks has recovered from his ...    8.38752
4      Obsessive master thief, Neil McCauley leads a ...    17.9249
...                                                  ...        ...
17927  It's Halloween in the 100 Acre Wood, and Roo's...   2.568495
17928  The Morning After is a feature film that consi...   0.139936
17929  An unsuccessful sculptor saves a madman named ...   0.222814
17930  A film archivist revisits the story of Rustin ...    0.38645
17931  When one of her hits goes wrong, a professiona...   0.903007

                                    production_companies  runtime  \
0      [{'name': 'TriStar Pictures', 'id': 559}, {'na...    104.0
1      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...    101.0
2      [{'name': 'Twentieth Century Fox Film Corporat...    127.0
3      [{'name': 'Sandollar Productions', 'id': 5842}...    106.0
4      [{'name': 'Regency Enterprises', 'id': 508}, {...    170.0
...                                                  ...      ...
17927        [{'name': 'Walt Disney Pictures', 'id': 2}]     67.0
17928  [{'name': 'Oops Doughnuts Productions', 'id': ...     79.0
17929         [{'name': 'Universal Pictures', 'id': 33}]     65.0
17930  [{'name': 'Neptune Salad Entertainment', 'id':...     30.0
17931  [{'name': 'American World Pictures', 'id': 6165}]     90.0

                                        spoken_languages  \
0      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
1               [{'iso_639_1': 'en', 'name': 'English'}]
2               [{'iso_639_1': 'en', 'name': 'English'}]
3               [{'iso_639_1': 'en', 'name': 'English'}]
4      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
...                                                  ...
17927           [{'iso_639_1': 'en', 'name': 'English'}]
17928           [{'iso_639_1': 'en', 'name': 'English'}]
17929           [{'iso_639_1': 'en', 'name': 'English'}]
17930           [{'iso_639_1': 'en', 'name': 'English'}]
17931           [{'iso_639_1': 'en', 'name': 'English'}]

                                                 tagline  vote_average  \
0              Roll the dice and unleash the excitement!           6.9
1      Still Yelling. Still Fighting. Still Ready for...           6.5
2      Friends are the people who let you be yourself...           6.1
3      Just When His World Is Back To Normal... He's ...           5.7
4                               A Los Angeles Crime Saga           7.7
...                                                  ...           ...
17927                 Celebrate Lumpy's First Halloween.           5.4
17928                          What happened last night?           4.0
17929                                Meet...The CREEPER!           6.3
17930  Do you know what happened 50 years before "The...           7.0
17931                             A deadly game of wits.           3.8

       vote_count
0          2413.0
1            92.0
2            34.0
3           173.0
4          1886.0
...           ...
17927         7.0
17928         2.0
17929         8.0
17930         1.0
17931         6.0

[17932 rows x 12 columns]